.contact {

    h3 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .thumbnail {
        position: relative;

        .delete {
            position: absolute;
            top: 5px;
            right: 5px;
        }

        .star {
            position: absolute;
            top: 5px;
            right: 75px; 
        }

        .edit {
            position: absolute;
            top: 5px;
            left: 75px; 
        }

        .detial {
            position: absolute;
            top: 5px;
            left: 5px; 
        }
    }
}

.search {
    margin-top: 15px;
    margin-bottom: 15px;
}