.contact {

    h3 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .thumbnail {
        position: relative;

        .delete {
            position: absolute;
            top: 5px;
            right: 5px;
        }
    }
}