<div id="view-contacts">
    <h1 class="text-center">View All Contacts</h1>
    <div id="contacts">
        <div ng-repeat="contact in contacts" class="col-sm-6 col-md-4 contact">
            <div class="thumbnail">
                <button class="btn btn-danger delete" ng-click="deleteContact(contact.id)"><i class="fa fa-trash-o"></i></button>
                <div class="caption">
                    <h3 >{{contact.first_name}} {{contact.last_name}}</h3>
                    <p>{{contact.phone_number}}</p>
                    <p>{{contact.email}}</p>
                    <p>{{contact.facebook}}</p>
                    <p >{{contact.twitter}}</p>
                    <p>{{contact.instagram}}</p>
                </div>
            </div>
        </div>
    </div>
</div>