.button {
  background-color: transparent;
  border: 0; }

#new-contacts {
  background-color: #fff;
  padding: 10px;
  -webkit-box-shadow: 0px 18px 41px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 18px 41px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 18px 41px 0px rgba(0, 0, 0, 0.75); }

.sociallogo {
  height: 25px;
  width: 25px; }

.contact h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.contact .thumbnail {
  position: relative; }
  .contact .thumbnail .delete {
    position: absolute;
    top: 5px;
    right: 5px; }
  .contact .thumbnail .star {
    position: absolute;
    top: 5px;
    right: 75px; }
  .contact .thumbnail .edit {
    position: absolute;
    top: 5px;
    left: 75px; }
  .contact .thumbnail .detial {
    position: absolute;
    top: 5px;
    left: 5px; }

body {
  background-color: #C3C3C3; }
